<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Publications | Control and Automation Group
    </title>
		<meta name="twitter:description" content="">
		<meta name="twitter:title" content="Control and Automation Group | IIT Delhi">
		<meta name="twitter:card" content="summary">
		<meta property="og:type" content="website">
		<meta property="og:image" content="">
		<meta name="twitter:image" content="assets/img/iitDelLogo.png">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/Features-Clean.css">
		<link rel="stylesheet" href="assets/css/Footer-Basic.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
	</head>

	<body>
		<nav class="navbar navbar-dark navbar-expand-lg bg-white d-flex align-items-lg-center portfolio-navbar gradient" style="background: linear-gradient(133deg, black 0%, rgb(169,31,31) 0%, #3d2a2a);">
			<div class="container">
			<div id="logoMain">
			  <div id="logoImage">
				<img src="assets/img/iitDelLogo.png" >
			  </div>
			  <div>
			    <a class="navbar-brand logo" href="index.html">Control &amp; Automation Group
                </a>
				<p>
                  <a href="https://ee.iitd.ac.in/" class ="mainUpperLink">Electrical Engineering
                  </a> |
                  <a href="https://home.iitd.ac.in/" class = "mainUpperLink"> IIT Delhi
                  </a>
                </p>
			  </div>
			</div>
			<button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav-1">
              <span class="visually-hidden">Toggle navigation
              </span>
              <span class="navbar-toggler-icon">
              </span>
            </button>
				<div class="collapse navbar-collapse" id="navbarNav-1">
					<ul class="navbar-nav ms-auto">
					  <li class="nav-item dropdown">
						<a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">People&nbsp;
                        </a>
						<div class="dropdown-menu">
                          <a class="dropdown-item" href="faculty.html">Faculty
                          </a>
                          <a class="dropdown-item" href="postdoc.html">Postdoc. Fellows
                          </a>
                          <a class="dropdown-item" href="phd.html">Ph.D. Scholars
                          </a>
                          <a class="dropdown-item" href="msr.html">P.G. Students
                          </a>
                          <a class="dropdown-item" href="staff.html">Staff
                          </a>
                          <a class="dropdown-item" href="alumni.html">Alumni
                          </a>
                        </div>
						</li>
						<li class="nav-item dropdown">
                          <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Research&nbsp;
                          </a>
						  <div class="dropdown-menu">
                            <a class="dropdown-item" href="areas.html">Research Areas
                            </a>
                            <a class="dropdown-item" href="publications.html">Publications
                            </a>
                            <a class="dropdown-item" href="projects.html">Projects
                            </a>
                          </div>
						</li>
						<li class="nav-item dropdown">
                          <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Academics&nbsp;
                          </a>

						  <div class="dropdown-menu">
                            <a class="dropdown-item" href="ug.html">UG Courses
                            </a>
                            <a class="dropdown-item" href="pg.html">PG Courses
                            </a>
                          </div>
						</li>
						<li class="nav-item dropdown">
                          <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Facilities&nbsp;
                          </a>
						  <div class="dropdown-menu">
                <a class="dropdown-item" href="academiclabs.html">Academic Laboratories
                </a>
                <a class="dropdown-item" href="researchlabs.html">Research Laboratories
                </a>
                          </div>
						</li>
					</ul>
                    <a class="btn btn-primary" role="button" style="background: rgb(255,255,255);color: rgb(0,0,0);font-size: 12px;" href="contact.html">
                      <strong>&nbsp;Contact Us
                      </strong>
                    </a>
				</div>
			</div>
		</nav>

		<section class="portfolio-block cv" id="app">
			<div class="container" >
        <h2 class="text-center" style="margin: 11;">Publications</h2>
        <hr style="margin: 16px 0px;">
        <div class="publicationType">
          <h3 class="text-center" style="color:#6e2525">
            <b>Journals</b>
          </h3>
          <ol>
            <li v-for="journ in journals">
              <div class="publicationItem">
                {{journ.citation}}
                <a v-if="journ.doi" v-bind:href="journ.doi">
                  <button type="button" class="btn doi  btn-outline-primary">Link</button>
                </a>
              </div>
            </li>
          </ol>
          <hr>
        </div>
			<div class="container" >
        <div class="publicationType">
          <h3 class="text-center" style="color:#6e2525">
            <b>Conferences</b>
          </h3>
          <ol>
            <li v-for="journ in conferences">
              <div class="publicationItem">
                {{journ.citation}}
                <a v-if="journ.doi" v-bind:href="journ.doi">
                  <button type="button" class="btn doi  btn-outline-primary">Link</button>
                </a>
              </div>
            </li>
          </ol>
          <hr>
        </div>
			<div class="container" >
        <div class="publicationType">
          <h3 class="text-center" style="color:#6e2525">
            <b>Book Chapters</b>
          </h3>
          <ol>
            <li v-for="journ in books">
              <div class="publicationItem">
                {{journ.citation}}
                <a v-if="journ.doi" v-bind:href="journ.doi">
                  <button type="button" class="btn doi  btn-outline-primary">Link</button>
                </a>
              </div>
            </li>
          </ol>
          <hr>
        </div>
			<div class="container" >
        <div class="publicationType">
          <h3 class="text-center" style="color:#6e2525">
            <b>Patents</b>
          </h3>
          <ol>
            <li v-for="journ in patents">
              <div class="publicationItem">
                {{journ.citation}}
                <a v-if="journ.doi" v-bind:href="journ.doi">
                  <button type="button" class="btn doi  btn-outline-primary">Link</button>
                </a>
              </div>
            </li>
          </ol>
          <hr>
        </div>
		</section>
		<footer class="footer dark-background">
      <div class="footer-content container">
        <div class="row">
          <div class="col-md-4 footer-logo">
            <div class="social-media">
              <strong>Follow us on social media</strong>
              <div class="sm-icons">
                <a href="https://www.linkedin.com/company/control-automation-group-iit-delhi/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/iitdcon"> <i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-8 sitemap-container">
            <strong>Navigation</strong>
            <div class="sitemap">
            <div><a href="index.html">Home</a></div>
            <div><a href="faculty.html">Faculty</a></div>
            <div><a href="areas.html">Research</a></div>
            <div><a href="ug.html">UG Courses</a></div>
            <div><a href="pg.html">PG Courses</a></div>
            <div><a href="gallery.html">Gallery</a></div>
            <div><a href="contact.html">Contact</a></div>
            </div>
          </div>
          <div class="col-md-12" style="text-align:center">
			      <p class="copyright">Control and Automation Group © 2024
            </p>
          </div>
        </div>
      </div>
    </footer>
		<script src="assets/bootstrap/js/bootstrap.min.js">
    </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js">
    </script>
		<script src="assets/js/theme.js">
    </script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js">
    </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
		<script charset="utf-8">
			new Vue({
			el: '#app',
			data: {
				journals: [],
				conferences: [],
				books: [],
				patents: [],
			},
			created() {
				axios
					.get('/assets/data/publications.json')
					.then(response => {
						rawdata = response.data;
            data = rawdata.sort(function(a,b){
                          a = new Date(a.year);
                          b = new Date(b.year);
                          var results = a > b ? -1 : a
                                        < b ? 1 : 0;
                          return results;

                        });

            for(let i=0;i<data.length;i++){
              let pubType = data[i].type;
              if (data[i].doi){
                if(!data[i].doi.includes("doi")){
                  data[i].doi = "doi.org/"+data[i].doi;
                }
                if(!data[i].doi.includes("https:")){
                  data[i].doi = "https://"+data[i].doi;
                }
              }
              if(pubType.includes("jour") || pubType.includes("Jour")){
                this.journals.push(data[i]);
              }
              if(pubType.includes("conf") || pubType.includes("Conf")){
                this.conferences.push(data[i]);
              }
              if(pubType.includes("boo") || pubType.includes("Boo")){
                this.books.push(data[i]);
              }
              if(pubType.includes("pat") || pubType.includes("Pat")){
                this.patents.push(data[i]);
              }
            }
					})
					.catch((e) => {
						console.error(e)

					})
			}
		});
		</script>
	</body>

</html>
