<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>UG Courses | Control and Automation Group
    </title>
		<meta name="twitter:description" content="">
		<meta name="twitter:title" content="Control and Automation Group | IIT Delhi">
		<meta name="twitter:card" content="summary">
		<meta property="og:type" content="website">
		<meta property="og:image" content="">
		<meta name="twitter:image" content="assets/img/iitDelLogo.png">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/Features-Clean.css">
		<link rel="stylesheet" href="assets/css/Footer-Basic.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
	</head>

	<body>
		<nav class="navbar navbar-dark navbar-expand-lg bg-white d-flex align-items-lg-center portfolio-navbar gradient" style="background: linear-gradient(133deg, black 0%, rgb(169,31,31) 0%, #3d2a2a);">
			<div class="container">
			  <div id="logoMain">
			    <div id="logoImage">
				    <img src="assets/img/iitDelLogo.png" >
			    </div>
			    <div>
			      <a class="navbar-brand logo" href="index.html">Control &amp; Automation Group
            </a>
				    <p>
              <a href="https://ee.iitd.ac.in/" class ="mainUpperLink">Electrical Engineering
              </a> |
              <a href="https://home.iitd.ac.in/" class = "mainUpperLink"> IIT Delhi
              </a>
            </p>
			    </div>
			  </div>
			  <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav-1">
          <span class="visually-hidden">Toggle navigation
          </span>
          <span class="navbar-toggler-icon">
          </span>
        </button>
				<div class="collapse navbar-collapse" id="navbarNav-1">
					<ul class="navbar-nav ms-auto">
					  <li class="nav-item dropdown">
						  <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">People&nbsp;
              </a>
						  <div class="dropdown-menu">
                <a class="dropdown-item" href="faculty.html">Faculty
                </a>
                <a class="dropdown-item" href="postdoc.html">Postdoc. Fellows
                </a>
                <a class="dropdown-item" href="phd.html">Ph.D. Scholars
                </a>
                <a class="dropdown-item" href="msr.html">P.G. Students
                </a>
                <a class="dropdown-item" href="staff.html">Staff
                </a>
                <a class="dropdown-item" href="alumni.html">Alumni
                </a>
              </div>
						</li>
						<li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Research&nbsp;
              </a>
						  <div class="dropdown-menu">
                <a class="dropdown-item" href="areas.html">Research Areas
                </a>
                <a class="dropdown-item" href="researchlabs.html">Research Laboratories</a>
              </div>
						</li>
						<li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Academics&nbsp;
              </a>

						  <div class="dropdown-menu">
                <a class="dropdown-item" href="ug.html">UG Courses </a>
                <a class="dropdown-item" href="pg.html">PG Courses </a>
                <a class="dropdown-item" href="academiclabs.html">Academic Laboratories</a>
              </div>
						</li>
						<li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Events&nbsp;
              </a>
						  <div class="dropdown-menu">
                <a class="dropdown-item" href="gallery.html">Gallery</a>
                <a class="dropdown-item" href="archive.html">News Archive</a>
              </div>
						</li>
					</ul>
          <a class="btn btn-primary" role="button" style="background: rgb(255,255,255);color: rgb(0,0,0);font-size: 12px;" href="contact.html">
            <strong>&nbsp;Contact Us
            </strong>
          </a>
				</div>
			</div>
		</nav>

		<section class="portfolio-block cv" id="app">
			<div class="container" style="padding-right: 10px;">
				<div class="intro" style="padding: 5px;">
					<h2 class="text-center" style="margin: 11;">Under-Graduate Courses
          </h2>
					<hr style="margin: 16px 0px;">
				</div>
				<h3 class="text-center" style="color:#6e2525">
          <b>Program Core Courses
          </b>
        </h3>
				<div class="work-experience group">
					<div class="item" v-for="fac in faculty" v-if="fac.core && fac.core.includes('yes')" :key="fac.id">
						<div class="row">
							<div class= "col-md-3 col-lg-3 text-center"
								 style="display:flex; align-items:center;
								 justify-content: center">
								<i class="fa fa-book" style="font-size:48px;color:#6e2525;">
                </i>

							</div>
							<div class="col-md-9 col-lg-9 text-center text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start" style="padding-top: 10px;">
								<h3 style="color:#6e2525;">{{fac.id}}
                </h3>
								<h3>{{fac.name}}
                </h3>
								<h3>{{fac.credit}}
                </h3>
								<hr style="color:#6e2525;background-color:#6e2525;border-width:5px;opacity:0.8">
								<h6>
                  <strong>Course Contents
                  </strong> -&nbsp;
                  <br>
                </h6>
								<h6 style="text-align:justify">{{fac.description}}
                </h6>
							</div>
						</div>
					</div>

				</div>
				<hr>
				<div class="row" style="padding-top:10px">
          <h3 class="text-center" style="color:#6e2525">
            <b>Program Elective Courses
            </b>
          </h3>
        </div>
				<div class="work-experience group">
					<div class="item" v-for="fac in faculty" v-if="fac.core && fac.core.includes('no')" :key="fac.id">
						<div class="row">
							<div class= "col-md-3 col-lg-3 text-center"
								 style="display:flex; align-items:center;
								 justify-content: center">
								<i class="fa fa-book" style="font-size:48px;color:#6e2525;">
                </i>

							</div>
							<div class="col-md-9 col-lg-9 text-center text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start" style="padding-top: 10px;">
								<h3 style="color:#6e2525;">{{fac.id}}
                </h3>
								<h3>{{fac.name}}
                </h3>
								<h3>{{fac.credit}}
                </h3>
								<hr style="color:#6e2525;background-color:#6e2525;border-width:5px;opacity:0.8">
								<h6>
                  <strong>Course Contents
                  </strong> -&nbsp;
                  <br>
                </h6>
								<h6 style="text-align:justify">{{fac.description}}
                </h6>
							</div>
						</div>
					</div>

				</div>
				<!-- <h3>Program Elective Courses</h3> -->
				<!-- <div class="work-experience group"> -->
				<!-- 	<div class="item" v-for="fac in faculty" v-if="fac.core && -->
				<!-- 												   fac.core.includes('no')" -->
				<!-- 		 :key="fac.id"> -->
				<!-- 		<div class="row" > -->
				<!-- 			<div class="col-md-12 col-lg-12 text-center text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start" style="padding-top: 10px;"> -->
				<!-- 				<h3>[{{fac.id}}] {{fac.name}} {{fac.credit}}</h3> -->
				<!-- 				<hr> -->
				<!-- 				<h6><strong>Course Contents</strong> -&nbsp;<br></h6> -->
				<!-- 				<h6 style="text-align:justify">{{fac.description}}</h6> -->
				<!-- 			</div> -->
				<!-- 		</div> -->
				<!-- 	</div> -->

				<!-- </div> -->
			</div>
		</section>
		<footer class="footer dark-background">
      <div class="footer-content container">
        <div class="row">
          <div class="col-md-4 footer-logo">
            <div class="social-media">
              <strong>Follow us on social media</strong>
              <div class="sm-icons">
                <a href="https://www.linkedin.com/company/control-automation-group-iit-delhi/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/iitdcon"> <i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-8 sitemap-container">
            <strong>Navigation</strong>
            <div class="sitemap">
            <div><a href="index.html">Home</a></div>
            <div><a href="faculty.html">Faculty</a></div>
            <div><a href="areas.html">Research</a></div>
            <div><a href="ug.html">UG Courses</a></div>
            <div><a href="pg.html">PG Courses</a></div>
            <div><a href="gallery.html">Gallery</a></div>
            <div><a href="contact.html">Contact</a></div>
            </div>
          </div>
          <div class="col-md-12" style="text-align:center">
			      <p class="copyright">Control and Automation Group © 2024
            </p>
          </div>
        </div>
      </div>
    </footer>
		<script src="assets/bootstrap/js/bootstrap.min.js">
    </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js">
    </script>
		<script src="assets/js/theme.js">
    </script>
		<script	src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js">
    </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
		<script charset="utf-8">
			new Vue({
			el: '#app',
			data: {
				faculty: null,
			},
			created() {
				axios
					.get('https://iitdcon.github.io/assets/data/ugcourses.json')
					.then(response => {
						this.faculty = response.data;
					})
					.catch((e) => {
						console.error(e)

					})
			}
		});
		</script>
	</body>

</html>
