.mainUpperLink {
  color: inherit;
  text-decoration: inherit;
}

.mainUpperLink:hover {
  color: inherit;
}

#logoMain{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#logoImage > img{
  width: 75px;
  padding-right: 10px;
}

ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left ;
    padding-bottom: 20px;
}
ol > li:before {
    content: "[" counter(list) "]  ";
    counter-increment: list;
    font-size: 24px;
    padding-right: 20px;
    color:#6e2525;
}

.publicationItem{
  display: flex;
  flex-direction: column;
}

button.doi{
  max-width: 50px;
  font-size: 9pt;
  padding-right: 40px;
  margin-top: 5px;

}
        /* Container styles */
        .news-container {
            width: 500px; /* Adjust width as needed */
            height: 200px; /* Fixed height for the scroll */
            overflow: hidden; /* Hide overflowing content */
            /* border: 1px solid #ccc; */
            /* border-radius: 5px; */
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        }

        /* Scroll animation */
        .news-container ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            animation: scroll 20s linear infinite; /* Adjust animation duration as needed */
        }

        @keyframes scroll {
            0% { transform: translateY(100%); }
            100% { transform: translateY(-100%); }
        }

        /* Individual news item styles */
        .news-item {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
