.mainUpperLink {
  color: inherit;
  text-decoration: inherit;
}

.mainUpperLink:hover {
  color: inherit;
}

#logoMain{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#logoImage > img{
  width: 75px;
  padding-right: 10px;
}

@media (max-width: 576px) {
    #logoImage img{
        display: none;
    }
}

ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left ;
    padding-bottom: 20px;
}
ol > li:before {
    content: "[" counter(list) "]  ";
    counter-increment: list;
    font-size: 24px;
    padding-right: 20px;
    color:#6e2525;
}

.publicationItem{
  display: flex;
  flex-direction: column;
}

button.doi{
  max-width: 50px;
  font-size: 9pt;
  padding-right: 40px;
  margin-top: 5px;

}
/* Container styles */
.news-container {
    max-width: 600px; /* Adjust width as needed */
    height: 200px; /* Fixed height for the scroll */
    overflow: hidden; /* Hide overflowing content */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

        /* Scroll animation */
        .news-container ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .news-container ul h5{
            font-weight: bold;
        }
        .news-box{
        animation: scroll 20s linear infinite; /* Adjust animation duration as needed */
        }

        @keyframes scroll {
            0% { transform: translateY(100%); }
            100% { transform: translateY(-100%); }
        }

        /* Individual news item styles */
        .news-item {
            padding: 10px;
            /* border-bottom: 1px solid #eee; */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }
        figure {
            margin: 0;
            padding: 0;
            position: relative;
            width: 200px;
            flex-grow: 1;
        }
        .img-container {
            width: 100%;
            height: 200px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            position: relative;
        }
        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s;
        }
        .img-container:hover img {
            transform: scale(1.05);
        }
        .img-container figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 255, 0.8);
            color: white;
            text-align: center;
            padding: 10px;
            opacity: 0;
            transition: opacity 0.2s;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .img-container:hover figcaption {
            opacity: 1;
        }

  .dark-background {
    color: white;
    position: relative;
    width: 100%;
    min-height: 200px; /* Adjust height as needed */
    background: url('/assets/img/hero.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
}
.footer-content{
    color:white;
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95); /* Adjust opacity for desired darkness */
    pointer-events: none; /* Allows clicks through the overlay */
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sm-icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.footer-content .row>div{
    margin-top: 20px;
}
.sm-icons a {
            text-decoration: none;
            color: #777;
            font-size: 15px;
            margin: 0 5px;
            display: inline-block;
            border: 2px solid #777;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            line-height: 30px;
            text-align: center;
            transition: all 0.3s ease;
        }
        .sm-icons a:hover {
            background-color: #333;
            color: white;
        }

.sitemap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 600px;
    /* margin: 0 auto; */
}
.sitemap-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sitemap-container>strong{
    margin-bottom: 20px;
}
.sitemap a {
            color: white;
            text-decoration: none;
            /* margin-bottom: 5px; */
}
.sitemap a:hover {
            color: red;
            text-decoration: none;
            /* margin-bottom: 5px; */
}

@media (max-width: 576px) {
.sitemap{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 5px; */
    max-width: 600px;
    /* margin: 0 auto; */
}
.sitemap>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
}


/* .dark-background p { */
/*     position: relative; */
/*     color: white; */
/*     text-align: center; */
/*     line-height: 500px; /\* Match this with the div height for vertical centering *\/ */
/*     font-size: 24px; */
/* } */
